<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sleep</key>
	<array>
		<dict>
			<key>UniqueId</key>
			<string>e1be26e6-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.242752</real>
			<key>Longitude</key>
			<real>-111.644483</real>
			<key>Timestamp</key>
			<date>2018-03-27T05:44:45Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>686 N 800 E</string>
				<key>SubLocality</key>
				<string>Joaquin</string>
				<key>Locality</key>
				<string>Provo</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Sleep</string>
		</dict>
	</array>
	<key>Leisure</key>
	<array>
		<dict>
			<key>UniqueId</key>
			<string>e1be2a10-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.251464</real>
			<key>Longitude</key>
			<real>-111.658281</real>
			<key>Timestamp</key>
			<date>2018-03-26T18:13:17Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>Sweeto Burrito</string>
				<key>SubLocality</key>
				<string>Unknown</string>
				<key>Locality</key>
				<string>Provo</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Leisure</string>
		</dict>
		<dict>
			<key>UniqueId</key>
			<string>e1be2b8c-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.241554</real>
			<key>Longitude</key>
			<real>-111.664563</real>
			<key>Timestamp</key>
			<date>2018-03-26T22:37:31Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>Provo Recreation Center and Pool</string>
				<key>SubLocality</key>
				<string>Unknown</string>
				<key>Locality</key>
				<string>Provo</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Leisure</string>
		</dict>
		<dict>
			<key>UniqueId</key>
			<string>e1be2ccc-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.238721</real>
			<key>Longitude</key>
			<real>-111.661144</real>
			<key>Timestamp</key>
			<date>2018-03-27T02:54:44Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>Smiths</string>
				<key>SubLocality</key>
				<string>Unknown</string>
				<key>Locality</key>
				<string>Provo</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Leisure</string>
		</dict>
		<dict>
			<key>UniqueId</key>
			<string>e1be2df8-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.216974</real>
			<key>Longitude</key>
			<real>-111.663791</real>
			<key>Timestamp</key>
			<date>2018-03-27T23:42:19Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>Cinemark 16</string>
				<key>SubLocality</key>
				<string>Provo Towne Centre</string>
				<key>Locality</key>
				<string>Provo</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Leisure</string>
		</dict>
		<dict>
			<key>UniqueId</key>
			<string>e1be31d6-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.274854</real>
			<key>Longitude</key>
			<real>-111.683589</real>
			<key>Timestamp</key>
			<date>2018-03-29T00:37:56Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>MidiCi The Neapolitan Pizza Company</string>
				<key>SubLocality</key>
				<string>University Place</string>
				<key>Locality</key>
				<string>Orem</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Leisure</string>
		</dict>
		<dict>
			<key>UniqueId</key>
			<string>e1be3334-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.280257</real>
			<key>Longitude</key>
			<real>-111.680105</real>
			<key>Timestamp</key>
			<date>2018-03-29T23:11:02Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>Costco Wholesale</string>
				<key>SubLocality</key>
				<string>Unknown</string>
				<key>Locality</key>
				<string>Orem</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Leisure</string>
		</dict>
		<dict>
			<key>UniqueId</key>
			<string>e1be346a-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.23424</real>
			<key>Longitude</key>
			<real>-111.645026</real>
			<key>Timestamp</key>
			<date>2018-03-30T19:46:27Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>Memorial Park</string>
				<key>SubLocality</key>
				<string>Joaquin</string>
				<key>Locality</key>
				<string>Provo</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Leisure</string>
		</dict>
		<dict>
			<key>UniqueId</key>
			<string>e1be358c-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.232551</real>
			<key>Longitude</key>
			<real>-111.659237</real>
			<key>Timestamp</key>
			<date>2018-03-31T00:04:57Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>Provo City Center Temple</string>
				<key>SubLocality</key>
				<string>Unknown</string>
				<key>Locality</key>
				<string>Provo</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Leisure</string>
		</dict>
	</array>
	<key>Work</key>
	<array>
		<dict>
			<key>UniqueId</key>
			<string>e1be1e8a-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.246977</real>
			<key>Longitude</key>
			<real>-111.649371</real>
			<key>Timestamp</key>
			<date>2018-03-26T19:58:34Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>MARB (Thomas L. Martin Building)</string>
				<key>SubLocality</key>
				<string>BYU</string>
				<key>Locality</key>
				<string>Provo</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Work</string>
		</dict>
		<dict>
			<key>UniqueId</key>
			<string>e1be2196-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.250299</real>
			<key>Longitude</key>
			<real>-111.649915</real>
			<key>Timestamp</key>
			<date>2018-03-27T19:27:12Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>JKB (Jesse Knight Building)</string>
				<key>SubLocality</key>
				<string>BYU</string>
				<key>Locality</key>
				<string>Provo</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Work</string>
		</dict>
		<dict>
			<key>UniqueId</key>
			<string>e1be36b8-3ab5-11e8-b467-0ed5f89f718b</string>
			<key>Latitude</key>
			<real>40.245394</real>
			<key>Longitude</key>
			<real>-111.649134</real>
			<key>Timestamp</key>
			<date>2018-03-26T15:02:17Z</date>
			<key>Placemark</key>
			<dict>
				<key>Name</key>
				<string>LSB (Life Sciences Building)</string>
				<key>SubLocality</key>
				<string>BYU</string>
				<key>Locality</key>
				<string>Provo</string>
				<key>AdministrativeArea</key>
				<string>UT</string>
			</dict>
			<key>Activity</key>
			<string>Work</string>
		</dict>
        <dict>
            <key>UniqueId</key>
            <string>e1be37da-3ab5-11e8-b467-0ed5f89f718b</string>
            <key>Latitude</key>
            <real>40.248413</real>
            <key>Longitude</key>
            <real>-111.647581</real>
            <key>Timestamp</key>
            <date>2018-04-09T12:33:02Z</date>
            <key>Placemark</key>
            <dict>
                <key>Name</key>
                <string>Cougareat Food Court</string>
                <key>SubLocality</key>
                <string>BYU</string>
                <key>Locality</key>
                <string>Provo</string>
                <key>AdministrativeArea</key>
                <string>UT</string>
            </dict>
            <key>Activity</key>
            <string>Unknown</string>
        </dict>
	</array>
</dict>
</plist>
